
.topnav a { 
display:block;
color:#ffffff
max-width:960px;
text-align: center;
margin:0;
padding:1em;
text-decoration:
font-size:14px;
font-family:'georgia';
border-color#cccccc;
}

body{
	background-color:#fff;
}

.topnav a :hover{
}

.topnav ul {
	text-decoration:none;
}

.about me { 

	float:left;
max-width:650px;
margin:0;
padding:1em;
background-color:#777777; 
border-color:#dddddd;
font-family: 'arial';


aside { 
float:right
max-width:270;
margin:0;
padding:1em;

clearfix :: after{
	content:"";
	clear:both;
	display:table;
}

footer {
	background-color: #666666;
}

